{% extends "base.html" %}

{% load static %}

{% block content %}

{% include "nav.html" %}

<section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="custom-breadcrumbs">
          <a href="#">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Dashboard</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags}}">
  <b>{{ message }}</b>
</div>
{% endfor %}
{% endif %}


{% if request.user.is_jobseeker %}
{% if not request.user.has_resume %}
<div class="alert alert-danger text-center py-4" role="alert">
<b>You dont have a Resume on your profile. Click <a href="{% url "update_profile"%}"> here</a> to add one .</b>
</div>
{% else %}
{% endif %}

  <section>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">
            Welcome to JobSeeker Dashboard
            </h1>
            <p class="col-md-8 fs-4"></p>
        </div>
    </div>
    <div class="m-5">
    <h2 class="subtitle">Submitted Applications</h2>

{% for job in jobs %}
    <div class="applyjob">
      <a href="{% url 'view_application' job.id %}">{{ job.title }}</a>
    </div>
{% empty %}
    <p>You haven't applied for any jobs yet...</p>
{% endfor %}
</div>
  </section>

  {% elif request.user.is_employer %}
  {% if not request.user.has_company %}
<div class="alert alert-danger text-center py-4" role="alert">
<b>You have not created any company. Click  <a href="{% url "update_company"%}">Here</a> to create one.</b>
</div>
{% else %}
{% endif %}
  </div>
  <section>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">
            Welcome to employer Dashboard
            </h1>
            <p class="col-md-8 fs-4"></p>
            <div>
              <h5 class="font-bold">Employer Dashboard Navigation</h5>
              <ul>
                <li>
                  <a href="{% url 'post-job'%}">Post Job</a>
                </li>
                
                <li>
                  <a href="{% url 'manage-job' %}">Manage Jobs</a>
                </li>

                
              </ul>
            </div>
        </div>
    </div>


  </section>
  {% endif %}

  {% include "footer.html" %}
{% endblock %}
