{% extends "base.html" %}

{% load static %}

{% block content %}

{% include "nav.html" %}

<section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        {% comment %} <h1 class="text-white font-weight-bold">Log In</h1> {% endcomment %}
        <div class="custom-breadcrumbs">
          <a href="#">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Dashboard</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>


{% if request.user.is_jobseeker %}

  <section>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">
            Welcome to JobSeeker Dashboard
            </h1>
            <p class="col-md-8 fs-4"></p>
        </div>
    </div>
  </section>
  {% elif request.user.is_employer %}
  {% if not request.user.has_company %}
<div class="alert alert-danger text-center py-4" role="alert">
<b>You have not created any company. Click here to create one <a href="{% url "update_company"%}">Here</a>.</b>
</div>
{% endif %}
  </div>
  <section>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">
            Welcome to employer Dashboard
            </h1>
            <p class="col-md-8 fs-4"></p>
        </div>
    </div>
  </section>
  {% endif %}
{% endblock %}
