{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">
  
</section>
<div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4 d-inline">Jobs </h5>

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags}}">
              <b>{{ message }}</b>
            </div>
            {% endfor %}
            {% endif %}

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Job title</th>
                <th scope="col">Location</th>
                <th scope="col">No. of Applicants</th>
                <th scope="col">Salary</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
               {% for job in jobs %}
              <tr>
                <td><a href="{% url 'job-details' job.pk %}">{{job.title}}</a></td>
                <td>{{job.city}}</td>
                <td>{{job.applyjob_set.all.count}} <a href="{% url 'jobseekers'  job.id %}"><small>View all</small></a></td>
                <td>{{job.salary}}</td>
                {% if job.is_available  %}
                <td><span class="text-white badge bg-success">Active</span></td>
                {% else %}
                <td><span class="text-danger badge bg-warning">Not Active</span></td>
                {% endif %}
                <td> <a href="{% url 'update_job' job.pk  %}" class="btn btn-info btn-sm">Update Job</a>      |<a href="{% url  'delete-job' job.id  %}" class="btn btn-sm btn-danger"> Delete</a></td>
              </tr>
              {% endfor%}
            </tbody>
          </table> 
        </div>
      </div>
    </div>
  </div>
{% endblock %}
