{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">
</section>
<div class="card">
    <div class="card-body">
        <h1 class="title">View Application</h1>

        <h2 class="subtitle">{{ job.title }}</h2>

        <small>Submitted: {{ applyjob.timestamp|naturaltime }}</small>

        <p><strong>Cover Letter</strong></p>
        <p>{{ applyjob.content }}</p>

        <p><strong>Years of Experience</strong></p>
        <p>{{ applyjob.experience }}</p>
    </div>
</div>
<hr class="color-black">
<div class="container">
    <h2 class="font-bold align-center">Conversation</h2>
    <div class="conversation-container">
        {% for message in applyjob.conversationmessages.all %}
        <div class="{% if message.user == request.user %}sent-message{% else %}received-message{% endif %}">
            <b>{{ message.user.username }} - {{ message.timestamp|naturaltime }} ago.</b><br>
            {{ message.content }}
        </div>
        {% empty %}
        <p>No messages yet...</p>
        {% endfor %}
    </div>
    <form action="." method="post">
        {% csrf_token %}
        <div class="field">
            <div class="control">
                <textarea class="textarea" name="content" id="id_content" cols="40" rows="5" placeholder="Type Your Message"></textarea>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="btn btn-success" type="submit">Send</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
