{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% block content %}
{% load widget_tweaks %}
<div class="container">
  <div class="mt-5">
    <h2 class="text-center">Search for your dream job</h2>
          <form method="get" class="search-jobs-form">

              <!--
                job title, company name
              -->
              <div class="row mb-5">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  {% comment %} <input type="text" > {% endcomment %}
                  <label for="title">Job title</label>
                  {% render_field filter.form.title class="form-control form-control-lg shadow-lg" placeholder="Job title..." %}
                </div>

            <!--
              location
            -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <label for="location">Location</label>
                  {% render_field filter.form.city class="form-control form-control-lg  shadow-lg" placeholder="Location" %}

                </div>

                <!--
                  job type
                -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <label for="job_type">Job Type</label>
                  {% render_field filter.form.job_type class="form-control form-control-lg shadow-lg" %}
                </div>

                <!--
                  Industry
                -->
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <label for="industry">Industry</label>
                  {% render_field filter.form.industry class="form-control form-control-lg shadow-lg" %}
                </div> 
                <!--
                  button
                -->
                <div class="mt-4">
                  <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search shadow-lg"><span class="icon-search icon mr-2"></span>Search Job</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 popular-keywords">
                  <h3>Trending Keywords:</h3>
                  <ul class="keywords list-unstyled m-0 p-0">
                    <li><a href="#" class="">UI Designer</a></li>
                    <li><a href="#" class="">Python</a></li>
                    <li><a href="#" class="">Developer</a></li>
                  </ul>
                </div>
              </div>
            </form>
            </div>

      <h2 class="text-center">Newest Jobs</h2>
      <div class="container">

      <div class="row">
        {% for job in filter.qs %}

      <div class="col-sm-6 mb-3 mb-sm-0">        <div class="card shadow-lg" >
          <div class="card-body">
            <h3 class="card-title">{{job.title}}</h3>
            <p class="card-text">Industry: {{job.industry}}</p>
            <p class="card-text">Job Type: {{job.job_type}}</p>
            <p class="card-text">Location: {{job.city}}</p>
            <p class="card-text">Salary: {{job.salary}}</p>
            <div class="card-footer">
                <a href="{%  url 'job-details' job.pk %}" class="card-link">View Job</a>
            <p class="card-text"><small class="text-mute">{{job.timestamp|naturaltime}}</small></p>
          </div>
        </div>
      </div>
  </div> 
      {% empty %}
      <p class="text-center"> No jobs found</p>
        {% endfor %}
</div>
    </div>

{% endblock %}
