{% load static %}

{% block content %}
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg bg-dark shadow-lg" data-bs-theme="dark" >
<div class="container-fluid  justify-content-end">
    <a class="navbar-brand" href="#">Kazi Recruiters</a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">

          <ul class="navbar-nav">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link active" aria-current="page" >Home</a></li>

           <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a></li>
            

             <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a></li>

            <li class="nav-item">
          <a class="nav-link" href="{% url 'job_listing' %}" >Available Jobs</a></li>

            {% if user.is_jobseeker %}

            <li class="nav-item">

              <a class="nav-link" href="{% url 'company-page'  %}">Companies hiring</a></li>
            {% elif user.is_employer %}
            

            <li class="nav-item"> <a class="nav-link" href="{% url 'jobseekers-page' %}" >Job seekers</a></li>
            {% endif %}
            {% if request.user.is_authenticated %}
       <li class="nav-item"> <a class="nav-link" href="{% url 'notifications' %}">Notifications ({{ notifications.count }})</a>  
         </li>
        {% endif %}


      
  
           {% if user.is_authenticated %} 
              {% if user.has_company %}

                <li class="d-lg-inline border p-2"><a href="{% url 'post-job' %}"><span class="mr-2">+</span> Post a Job</a></li>
              {% endif %}

              <!--user dropdown menu-->
              <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.username }}
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown">

                  <!--if user is JobSeeker, show this-->
                  {% if user.is_jobseeker %}
                  <a class="dropdown-item" href="{% url 'dashboard' %}" id="drop">Dashboard</a>
                  <a class="dropdown-item" href="{% url 'view_profile'  %}" id="drop">View Profile</a>
                  <a class="dropdown-item" href="{% url 'update_profile' %}" id="drop">Manage Profile</a> 
                 
                    <a class="dropdown-item" href="{% url 'applied-jobs' %}" id="drop">Applied Jobs</a>
                  {% endif %}

                  <!--if user is employer, show this-->
                  {% if user.is_employer %}
                    <a class="dropdown-item" href="{% url 'dashboard' %}" id="drop">Dashboard</a>
                  {% endif %}
                  <div class="dropdown-divider"></div> 
                <a class="dropdown-item" href="{% url 'logout_page' %}" id="drop">Logout</a>
                </div>
              </li>
          {% endif %} 


          <!--login and registration links-->
          {% if user.is_authenticated %}

          
          {% else %}
              <!--Job Seeker dropdown menu-->
             <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  
                    Job Seeker
      
                </a>
                <div class="dropdown-menu" aria-labelledby="jobSeekerDropdown">
                  <a class="dropdown-item" href="{% url 'login_page' %}" id="drop">Log In</a>
                  <a class="dropdown-item" href="{% url 'jobseeker_signup' %}" id="drop">Create Your Profile</a>
                </div>
              </li>

              <!--Employer dropdown menu-->
              <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 
                    Employer
        
                </a>
                <div class="dropdown-menu" aria-labelledby="EmployerDropdown">
                  <a class="dropdown-item" href="{% url 'login_page' %}" id="drop">Log In</a>
                  <a class="dropdown-item" href="{% url 'employer_signup'%}" id="drop">Create Your Profile</a>
                </div>
              </li>
              
              {% endif %}

            
          </ul>
        </div>
</div>
        
  </nav>
  {% endblock %}
