{% load static %}

{% block content %}
<!-- NAVBAR -->
<header class="site-navbar mt-3">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="site-logo col-6 font-bold"><a href="{% url 'index' %}">JobPortal</a></div>
  
        <nav class="mx-auto site-navigation">
          <ul style="margin-right: -500px" class="site-menu js-clone-nav d-inline d-xl-block ml-0 pl-0">
            <li><a href="{% url 'index' %}" class="nav-link active">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>

            <li><a href="{% url 'job_listing' %}" >Apply to Jobs</a></li>
            {% if user.is_jobseeker %}
            <li><a href="{% url 'company-page'  %}">Companies hiring</a></li>
            {% elif user.is_employer %}
            <li><a href="{% url 'jobseekers-page' %}" >Job seekers</a></li>
            {% endif %}
            {% if request.user.is_authenticated %}
        <a href="{% url 'notifications' %}">Notifications ({{ notifications.count }})</a>  
        {% endif %}


      
  
           {% if user.is_authenticated %} 
              {% if user.has_company %}

                <li class="d-lg-inline border p-2"><a href="{% url 'post-job' %}"><span class="mr-2">+</span> Post a Job</a></li>
              {% endif %}

              <!--user dropdown menu-->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.username }}
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown">

                  <!--if user is JobSeeker, show this-->
                  {% if user.is_jobseeker %}
                  <a class="dropdown-item" href="{% url 'dashboard' %}" id="drop">Dashboard</a>
                  <a class="dropdown-item" href="{% url 'view_profile'  %}" id="drop">View Profile</a>
                  <a class="dropdown-item" href="{% url 'update_profile' %}" id="drop">Manage Profile</a> 
                 
                    <a class="dropdown-item" href="{% url 'applied-jobs' %}" id="drop">Applied Jobs</a>
                  {% endif %}

                  <!--if user is employer, show this-->
                  {% if user.is_employer %}
                    <a class="dropdown-item" href="{% url 'dashboard' %}" id="drop">Dashboard</a>
                  {% endif %}
                  <div class="dropdown-divider"></div> 
                <a class="dropdown-item" href="{% url 'logout_page' %}" id="drop">Logout</a>
                </div>
              </li>
          {% endif %} 


          <!--login and registration links-->
          {% if user.is_authenticated %}

          
          {% else %}
              <!--Job Seeker dropdown menu-->
              <li class="nav-item py-4">
                <a class="custom-btn dropdown-toggle d-lg-inline border p-2 active" href="#" id="jobSeekerDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  
                    Job Seeker
      
                </a>
                <div class="dropdown-menu" aria-labelledby="jobSeekerDropdown">
                  <a class="dropdown-item" href="{% url 'login_page' %}" id="drop">Log In</a>
                  <a class="dropdown-item" href="{% url 'jobseeker_signup' %}" id="drop">Create Your Profile</a>
                </div>
              </li>

              <!--Employer dropdown menu-->
              <li class="nav-item">
                <a class="custom-btn dropdown-toggle d-lg-inline border p-2 active" href="#" id="EmployerDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 
                    Employer
        
                </a>
                <div class="dropdown-menu" aria-labelledby="EmployerDropdown">
                  <a class="dropdown-item" href="{% url 'login_page' %}" id="drop">Log In</a>
                  <a class="dropdown-item" href="{% url 'employer_signup'%}" id="drop">Create Your Profile</a>
                </div>
              </li>
              
              {% endif %}

            
          </ul>
        </nav>

        
      </div>
    </div>
  </header>
  {% endblock %}