{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}
{% include "nav.html" %}
<section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">
  
</section>
<div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title mb-4 d-inline text-black" >All Candidates for {{ job.title }} position</h3>
        
          <form method="get" class="search-experience-form  my-4">
            <p class="text-black">Filter candidates depending on their years of experience</p>
            <div class="row mb-5">
                <div class="col-2">
                    {% render_field myFilter.form.minExperience  class="form-control form-control-sm"  placeholder="minimum years of experience" %}
                </div>
                <div class="col-2">
                    {% render_field myFilter.form.maxExperience  class="form-control form-control-sm" placeholder="maximum years of experience" %}
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            
        </form>
        

          <table class="table">
          
          
              <p>Click On Name To View Candidate Application</p>
            
            <thead>
             
              <tr>
                <th scope="col"> Names</th>
                <th scope="col">Location</th>
                <th scope="col">Candidate Position title</th>
                <th scope="col">Candidate Skills</th>
                <th scope="col">Years of experience</th>
                <th scope="col">Application Date</th>
                <th scope="col">Resume</th>
                <th scope="col">Application Status</th>
              </tr>
            </thead>
            <tbody>
               {% for jobseeker in myFilter.qs %}
              <tr>
                <td><a href="{% url 'view_application' jobseeker.id %}"> {{ jobseeker.user.resume.firstname }} {{ jobseeker.user.resume.surname }}</a></td>
                <td>{{ jobseeker.user.resume.location }}</td>
                <td>{{ jobseeker.user.resume.job_title}}</td>
               <td>{{ jobseeker.user.resume.skills}}</td>

               <td>{{ jobseeker.experience }}</td> 

                <td>{{ jobseeker.timestamp|naturaltime}}</td>
                 <td><a target="_blank" href="{{jobseeker.user.resume.cv.url}}">View Resume</a></td>
                 <td>{{jobseeker.user.job.applyjob.job_status}}</td> 


                <td><a href="">update job</a></td>
              </tr>
              {% empty %}
            <tr>
                <td colspan="3">No candidates found.</td>
            </tr>
              {% endfor %}
            </tbody>
          </table> 
        </div>
      </div>
    </div>
  </div>

  {% comment %} <section>
    <div class="card">
      <div class="card-body">
      <h2 card-title>Conversation</h2>      
      {% for message in applyjob.conversationmessages.all  %}
      <div class="alert alert-info">
        <b> {{ message.status.username - {{ message.created_at|naturaltime}} }} </b>


        {{message.content}}
      </div>
      {% endfor %}
      <form action="." method="post">
        {% csrf_token %}
        <div class="field">
          <div class="control">
            <textarea class="textarea" id="id_content" name="content" cols="30" rows="10" placeholder="Write your message"></textarea>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="btn btn-success"> 
              send
            </button>
          </div>
        </div>
      </form>
    </div>
    </div>


  </section> {% endcomment %}
{% endblock %}
