{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% block  content%}
{% include "nav.html" %}

<section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">

</section>

 

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags}}">
      <b>{{ message }}</b>
    </div>
    {% endfor %}
{% endif %}

<div class="container">
      
                <h1 class="title">Apply for job -  {{job.title}}</h1>
                
        
    <form action="." method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="experience" class="text-black">Indicate The Years Of Experience In This Poisition</label> <br>
            {% render_field form.experience placeholder="Enter Years of experience for this position"  %}
        </div>
<br>
        <div class="form-group">
            <label for="content">Cover Letter</label> <br>
            {% render_field form.content|attr:"rows:20"|attr:"cols:30" class="form-control"  placeholder="write here your cover letter..." %}
        </div>
        
        <div>
            <button type="submit" class="btn btn-info">Submit</button>
        </div>
    </form>
</div>
{% endblock  %}