{% extends "base.html" %}
{% load static %}
{% load humanize %%}
{% block content %}
{% include "nav.html"%}


<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" style="background-image: url('../images/hero_1.jpg');" id="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="text-white font-weight-bold">{{ job.title}}</h1>
          <div class="custom-breadcrumbs">
            <a href="{% url 'home' %}">Home</a> <span class="mx-2 slash">/</span>
            <a href="#">Job</a> <span class="mx-2 slash">/</span>
            <span class="text-white"><strong>{{job.title}}</strong></span>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <section class="site-section">
    <div class="container">
      <div class="row align-items-center mb-5">
        <div class="col-lg-8 mb-4 mb-lg-0">
          <div class="d-flex align-items-center">
            <div class="border p-2 d-inline-block mr-3 rounded">
              <img style="width: 100px; height:100px; margin-bottom:10px" src="../users/user-images/<?php echo $row->company_image; ?>" alt="Image">
            </div>
            <div>
              <h2>{{job.title}}</h2>
              <div>
                <span class="ml-0 mr-2 mb-2"><span class="icon-briefcase mr-2"></span>{{job.title}}</span>
                <span class="m-2"><span class="icon-room mr-2"></span>{{job.location}}</span>
                <span class="m-2"><span class="icon-clock-o mr-2"></span><span class="text-primary">job type</span></span>
              </div>
            </div>
          </div>
        </div>
  
      <div class="row">
        <div class="col-lg-8">
          <div class="mb-5">
            <figure class="mb-5"><img src="../images/job_single_img_1.jpg" alt="Image" class="img-fluid rounded"></figure>
            <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Job Description</h3>
            <p>{{job.requirement}}</p>
           
          </div>
          <div class="mb-5">
            <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-rocket mr-3"></span>Responsibilities</h3>
            <ul class="list-unstyled m-0 p-0">
              <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Responsibilities</span></li>
             
            </ul>
          </div>

          <div class="mb-5">
            <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-book mr-3"></span>Education + Experience</h3>
            <ul class="list-unstyled m-0 p-0">
              <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>education_experience</span></li>
             
            </ul>
          </div>





 
  </section>
  
{% endblock %}