 {% extends "base.html" %}
 {% load static %}
 {% load widget_tweaks %}
{% load humanize %}
 {% block content %}

 <!--home-->
 <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">

</section>


<section>
  <div class=" d-flex justify-content-center text-black">
    <h2 class="font-weight-bold">Available Jobs</h2>
  </div>
  <div class="card-group">
    {% if jobs %}
    {% for job in jobs %}
    <div class="card m-3">
      <div class="card-body">
        <h5 class="card-title text-black">  {{  job.title  }}</h5>
        <p class="card-text">{{ job.city}} | {{job.job_type}}|Ksh. {{ job.salary|intcomma}}</p>
        <p class="card-text">{{ job.requirements|truncatechars:100}}</p>
        <p class="card-text">Posted by: {{job.company}}</p>
        <a href="{%  url 'job-details' job.pk %}" class="btn btn-primary btn-sm">View Details</a>
      </div>
      <div class="card-footer">
        <small class="text-mute">Created {{ job.timestamp|naturaltime}}</small>
    </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</section>

 {% endblock %}
