{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% include "nav.html" %}
    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Post A Job</h1>
            <div class="custom-breadcrumbs">
              <a href="#">Home</a> <span class="mx-2 slash">/</span>
              <a href="#">Job</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Post a Job</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <section class="site-section">
      <div class="container">

        <div class="row align-items-center mb-5">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
              <div>
                <h2>Post A Job</h2>
              </div>
            </div>
          </div>
         
        </div>
        <div class="row mb-5">
          <div class="col-lg-12">

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags}}">
              <b>{{ message }}</b>
            </div>
            {% endfor %}
      {% endif %}

            <form class="p-4 p-md-5 border rounded" method="post">

              {% csrf_token %}

              <h3 class="text-black mb-5 border-bottom pb-2">Job Details</h3>
              
              {% comment %} <div class="form-group">
                <label for="company-website-tw d-block">Upload Featured Image</label> <br>
                <label class="btn btn-primary btn-md btn-file">
                  Browse File<input type="file" hidden>
                </label>
              </div> {% endcomment %}

              <div class="form-group">
                <label for="title">Job Title</label>
                {% render_field form.title class="form-control" id="job-title" placeholder="e.g. Software developer"  %}
              </div>

              {% comment %} <div class="form-group">
                <label for="email">Email</label>
                {% render_field form.email class="form-control" id="email" placeholder="employer@yourdomain.com"  %}
              </div> {% endcomment %}

              <div class="form-group">
                <label for="location">Location</label>
               {% render_field form.city class="form-control" id="job-location" placeholder="e.g. Nairobi"  %}
              </div>

              <div class="form-group" required>
                <label for="industry">Industry</label>
                {% render_field form.industry class="form-control" %}
              </div>

              <div class="form-group" required>
                <label for="job_type">Job Type</label>
                {% render_field form.job_type class="form-control" %}
              </div>

              <div class="form-group">
                <label for="salary">Job Salary</label>
                {% render_field form.salary class="form-control" placeholder="Ksh. 100,000"  %}
              </div>

              {% comment %} <div class="form-group">
                <label for="job-type">Job Type</label>
                <select class="selectpicker border rounded" id="job-type" data-style="btn-black" data-width="100%" data-live-search="true" title="Select Job Type">
                  <option>Part Time</option>
                  <option>Full Time</option>
                </select>
              </div> {% endcomment %}

              <div class="form-group">
                <label for="job-type">Job Requirements</label>
                {% render_field form.requirements|attr:"rows:3"|attr:"cols:10" class="form-control" %}
              </div>

              <div class="form-group">
                <label for="job-ideal_candidates">Job Ideal Candidates?</label>
                {% render_field form.ideal_candidate|attr:"rows:3"|attr:"cols:10"  class="form-control" %}
              </div>

              <div class="mb-3">
                <label for="is_available" class="form-label">Is This job available?</label>
                {% render_field form.is_available class="form-check-input" %}
              </div>
   


              {% comment %} <div class="form-group">
                <label for="job-description">Job Description</label>
                <div class="editor" id="editor-1">
                  <p>Write Job Description!</p>
                </div>
              </div> {% endcomment %}

              {% comment %} <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="">Education & Experience</label> 
                  <textarea name="education_experience" id="" cols="30" rows="7" class="form-control" placeholder="Write Education & Experience..."></textarea>
                </div>
              </div> {% endcomment %}

<div class="row align-items-center mb-5">
          
          <div class="col-lg-4 ml-auto">
            <div class="row">
             
              <div class="col-6">
                <button type="submit" class="btn btn-block btn-success btn-md" >Submit</button>
              </div>
            </div>
          </div>
            </form>
          </div>

         
        </div>
        
        </div>
      </div>
    </section>

{% endblock %}