{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block  content%}
{% include "nav.html" %}

 

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags}}">
      <b>{{ message }}</b>
    </div>
    {% endfor %}
{% endif %}

        {% csrf_token %}
        <div class="card">
                <h1 class="title">View Application for {{job.title}}</h1>
                <div class="card-body">
                    <p class="card-text"><strong>Date applied:</strong> {{applyjob.timestamp|naturaltime}} </p>
                    <p class="catd-text"><strong>Job status: </strong>{{applyjob.status}}</p>
                </div>
    </div>
        
{% endblock  %}