{% extends "base.html" %}


{% load static %}

{% block content %}

 <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'images/hero_1.jpg'  %}');" id="home-section"> 
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Register</h1>
            <div class="custom-breadcrumbs">
              <a href="#">Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Register</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-5">


            <form action="{% url 'register' %}" class="p-4 border rounded" method="POST">
              
              {% csrf_token %}

               <!--username field-->
     {% comment %} <div class="row form-group">
        <div class="col-md-12 mb-3 mb-md-0">
          <label class="text-black" for="{{ user_form.username.id_for_label }}">Username</label>
          <input type="text" id="{{ user_form.username.id_for_label }}" name="{{ user_form.username.name }}" class="form-control" placeholder="Username"> 
        </div>
      </div> {% endcomment %}
      <div class="row form-group">
        <div class="col-md-12 mb-3 mb-md-0">
          <label class="text-black" for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="Username"> 
        </div>
      </div>

      <!--Emial field-->
      <div class="row form-group">
        <div class="col-md-12 mb-3 mb-md-0">
          <label class="text-black" for="{{ user_form.email.id_for_label }}">Email</label>
          <input type="text" id="{{ user_form.email.id_for_label }}" name="email" class="form-control" placeholder="Email address">
        </div>
      </div> 

      <!--User Type-->
      <div class="form-group">

        <label for="user_type">User Type</label>
       <select name="user_type" class="border rounded" id="user-type" data-style="btn-black" data-width="100%" data-live-search="true" title="Select User Type">
        <option></option>
            <option>Job Seeker</option>
          <option>Company</option>
        </select> 
      </div>

      <!--password field-->
        <div class="row form-group">
        <div class="col-md-12 mb-3 mb-md-0">
          <label class="text-black" for="{{ user_form.password.id_for_label }}">Password</label>
<input type="password" id="{{ user_form.password.id_for_label }}" name="{{ user_form.password.name }}" class="form-control" placeholder="Password">
        </div>
      </div>

        <!--password field-->
      <div class="row form-group mb-4">
        <div class="col-md-12 mb-3 mb-md-0">
          <label class="text-black" for="{{ user_form.password.id_for_label }}">Password</label>
          <input type="password" id="{{ user_form.password.id_for_label }}" name="{{ user_form.password.name }}" class="form-control" placeholder="Password">
          
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-12">
          <input type="submit" value="submit" class="btn px-4 btn-primary text-white">
        </div>
      </div>
            </form>
          </div>
      
        </div>
      </div>
    </section>
  </div>

    {% endblock %}