/* .custom-btn
 {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
  .custom-btn {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
  .custom-btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
  .custom-btn:hover {
    color: rgb(0, 0, 0);
  }
  
  .custom-btn:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  
  .custom-btn:active {
    top: 2px;
  } */
  .site-navbar .site-navigation .site-menu #drop:hover {
    /* Add your hover styles here */
    color: #FFFFFF; /* Change the text color on hover */
    background-color: #277F6A; /* Change the background color on hover */
}
