{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">
</section>

<section class="row container m-4">
  {% for jobseeker in jobseekers %}
    <div class="card" style="width: 18rem; color:black;">
       <figure>
        <img class="card-img-top" src="{{ jobseeker.image.url }}" alt="{{ jobseeker.firstname }} {{ jobseeker.surname }}">
      </figure>
        <div class="card-body">
          <h5 class="card-title text-capitalize">{{ jobseeker.firstname }} {{ jobseeker.surname }}</h5>
          <h6 class="card-subtitle mb-2  text- capitalize">{{ jobseeker.job_title }}</h6>
          <p class="card-text"> <small>{{ jobseeker.bio }}</small></p>
          {% comment %} <p class="card-text">{{ jobseeker.skills }}</p> {% endcomment %}
          <a href="{% url 'view_profile' %}" class="btn btn-info">View Profile</a> 
        </div>
      </div>
    {% empty %}
    <p>No jobseekers found.</p>
  {% endfor %}

</section>



{% endblock  %}


