{% extends "base.html" %}

{% load widget_tweaks %}
{% load static %}
{% block content %}
{% include "nav.html" %}
<section class="section-hero overlay inner-page bg-image" style="background-image: url({% static  'images/hero_1.jpg' %});" id="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="text-white font-weight-bold">Update Profile</h1>
          <div class="custom-breadcrumbs">
            <a href="{% url 'index' %}">Home</a> <span class="mx-2 slash">/</span>
            <span class="text-white"><strong>Update Profile</strong></span>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="site-section" id="next-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">


          <form method="POST">
            {% csrf_token %}
            <div class="row form-group">

              <div class="col-md-6 mb-3 mb-md-0">
                <label class="text-black" for="firstname">Firstname</label>
                {% render_field form.firstname class="form-control"%}
              </div>

              <div class="col-md-6 mb-3 mb-md-0">
                <label class="text-black" for="fname">Surname</label>
                {% render_field form.surname class="form-control"%}
              </div>

              {% comment %} <div class="col-md-6">
                <label class="text-black" for="lname">Email</label>
                
                {% render_field form.email class="form-control"%}
            </div> {% endcomment %}
            </div>
            
              <div class="row form-group">
                  
                  <div class="col-md-12">
                  <label class="text-black" for="email">Title</label> 
                  {% render_field form.job_title class="form-control"%}
                  </div>

                  <div class="col-md-6 mb-3 mb-md-0">
                    <label class="text-black" for="firstname">Location</label>
                    {% render_field form.location class="form-control"%}
                  </div>
              </div>
         

              <div class="row form-group">
                  
                  <div class="col-md-12">
                  {% comment %} <input type="hidden" id="" value="NULL" name="title" class="form-control"> {% endcomment %}
                  </div>
              </div>
            

           
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="message">Bio</label>
                {% render_field form.job_title class="form-control"  cols="30" rows="7" placeholder="Write a short description about you here..." %}
              </div>
            </div>

            <!--
              gender
            -->
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="message">gender</label>
                {% render_field form.gender class="form-input-option" id="drop" %}
              </div>
            </div>

            <div class="row form-group">
              
              <div class="col-md-12">
                <label class="text-black" for="Facebook">Facebook</label> 
             {% render_field form.facebook class="form-control" %}
            </div>
            </div> 

            <div class="row form-group">
              
              <div class="col-md-12">
                <label class="text-black" for="subject">Twitter</label> 
                {% render_field form.twitter class="form-control" %}
              </div>
            </div> 

            <div class="row form-group">
              
              <div class="col-md-12">
                <label class="text-black" for="subject">Linkedin</label> 
                {% render_field form.linkedin class="form-control" %}
              </div>
            </div> 

            <div class="row form-group">
              
              <div class="col-md-12">
                <label class="text-black" for="subject">Image</label> 
                {% render_field form.image class="form-control" %}
              </div>
            </div> 
          

            <div class="row form-group">
              
              <div class="col-md-12">
                <label class="text-black" for="subject">CV</label> 
                {% render_field form.cv class="form-control" %}
              </div>
            </div> 
          

              <div class="row form-group">
              
              <div class="col-md-12">
                <input type="hidden" value="NULL" name="cv" id="" class="form-control">
              </div>
            </div> 
          

            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" name="submit" value="Update" class="btn btn-primary btn-md text-white">
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>
  </section>

  {% include "footer.html" %}
  {% endblock %}