{% extends "base.html" %}

{% load widget_tweaks %}
{% load static %}
{% block content %}
{% include "nav.html" %}
<section class="section-hero overlay inner-page bg-image" style="background-image: url({% static  'images/hero_1.jpg' %});" id="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="text-white font-weight-bold">Manage Profile</h1>
          <div class="custom-breadcrumbs">
            <a href="{% url 'index' %}">Home</a> <span class="mx-2 slash">/</span>
            <span class="text-white"><strong>Manage Profile</strong></span>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="site-section" id="next-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">


          <figure class="media">
            <img src="{{user.Resume.image.url}}" class="rounded-circle accounr-img " alt="no profile">
          </figure>

          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!--profile picture-->
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="image">Image</label> 
                {% render_field form.image class="img-thumbnail" %}
              </div>
            </div>            


            <div class="row form-group">

              <div class="col-md-6 mb-3 mb-md-0">
                <label class="text-black" for="firstname">Firstname</label>
                {% render_field form.firstname class="form-control"%}
              </div>

              <div class="col-md-6 mb-3 mb-md-0">
                <label class="text-black" for="fname">Surname</label>
                {% render_field form.surname class="form-control"%}
              </div>

             </div>          
              <div class="row form-group">
                  
                  <div class="col-md-12">
                  <label class="text-black" for="email">Title</label> 
                  {% render_field form.job_title class="form-control" placeholder="Your profesional headline(i.e Experienced Manager)"%}
                  </div>

                  <div class="col-md-6 mb-3 mb-md-0">
                    <label class="text-black" for="firstname">Location</label>
                    {% render_field form.location class="form-control"%}
                  </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="phone-number">Phone Number</label>
                  {% render_field form.phone_number class="form-control" id="drop" placeholder="e.g. 254"%}
                </div>
              </div>
            

           
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="message">Bio</label>
                {% render_field form.bio class="form-control"  cols="30" rows="7" placeholder="provide a short bio" %}
              </div>
            </div>

            <!--skills-->
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="skills">Skills</label>
                {% render_field form.skills class="form-control"  cols="30" rows="7" placeholder="Write your skills.." %}
              </div>
            </div>

            <!--experience-->
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="experience">Years of experience</label>
                {% render_field form.experience class="form-control" %}
              </div>
            </div>

            <!--
              gender
            -->
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="message">gender</label>
                {% render_field form.gender class="form-input-option" id="drop" %}
              </div>
            </div>

            <div class="row form-group">
              
              <div class="col-md-12">
                <label class="text-black" for="Facebook">Facebook</label> 
             {% render_field form.facebook class="form-control" %}
            </div>
            </div> 

            <div class="row form-group">
              
              <div class="col-md-12">
                <label class="text-black" for="subject">Twitter</label> 
                {% render_field form.twitter class="form-control" %}
              </div>
            </div> 

            <div class="row form-group">
              
              <div class="col-md-12">
                <label class="text-black" for="subject">Linkedin</label> 
                {% render_field form.linkedin class="form-control" %}
              </div>
            </div> 

           
          

            <div class="row form-group">
              
              <div class="col-md-12">
                <label class="text-black" for="subject">upload resume</label> 
                {% render_field form.cv class="form-control"  placeholder="The attached CV will be the default CV when applying to jobs"%}
              </div>
            </div> 
          

            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" name="submit" value="Update" class="btn btn-primary btn-md text-white">
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>
  </section>

  {% include "footer.html" %}
  {% endblock %}