{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}
{% block content %}
{% include "nav.html" %}
    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Update company</h1>
            <div class="custom-breadcrumbs">
              <a href="#">Home</a> <span class="mx-2 slash">/</span>
              <a href="{% url 'dashboard'%}">Employer Dashboard</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Update Company</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

  
    <section class="site-section">
      <div class="container">


              <h3 class="text-black my-5 border-bottom pb-2">Company Details</h3>


              <form class="p-4 p-md-5 border rounded" method="POST">

                {% csrf_token %}

              <div class="form-group">
                <label for="company-name">Company Name</label>
              {% render_field form.name class="form-control"  %}
              </div> 

              <div class="form-group">
                <label for="company-tagline">Company establishe Year</label>
                {% render_field form.est_date class="form-control" %}
              </div>

              <div class="form-group">
                <label for="description">Company Description</label>
                {% render_field form.description class="form-control" placeholder="Description"%}
                </div>
              
              
              <div class="form-group">
                <label for="company-website">Website (Optional)</label>
                {% render_field form.website placeholder="https://" %}
              </div>

              <div class="form-group">
                <label for="company-fb">Facebook Username (Optional)</label>
                {% render_field form.fb_name class="form-control" placeholder="Facebookname"  %}
              </div>

              <div class="form-group">
                <label for="company-website-tw">Twitter Username (Optional)</label>
                <input type="text" class="form-control" placeholder="@Twittername">
              </div>
          
              <div class="form-group">
                <label for="company-website-tw d-block">Upload Logo</label> <br>
                {% render_field form.logo class="btn btn-primary btn-md btn-file" %}
              </div>
              
              <div>
            <button  type="submit" class="btn  btn-success btn-md">Submit</button>
            </div>
            </div>
           
          </form>
          </div>

         
        </div>
    </section>

{% endblock %}